body {
    background-image: url(../images/1999-12-akaimpc2000-2-o3smKeu6OCnbknj4NC1b3XGjhxgSALKn.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.pads {
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
    gap: 5px;
    border: 5px solid red;
    width: 300px;
    height: 285px;
    position: absolute;
    left: 400px;
    top: 200px
}

.pad {
    border: 2px solid blue;
    width: 60px;
    height: 60px;
}